<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="animated fadeIn login auth-page">
  <div class="auth-content" *ngIf="!isLoggedIn">
  <div class="logo"></div>

  <form [formGroup]="loginForm" class="list-form"  (ngSubmit)="login()">
    
    
    <ion-item no-padding class="animated fadeInUp">
      <ion-label position="floating">
        <ion-icon name="person-circle-outline"></ion-icon>
        User Name
      </ion-label>
      <ion-input formControlName="username"></ion-input>
    </ion-item>

    <p ion-text class="text08" *ngIf="loginForm.get('username').touched && loginForm.get('username').hasError('required')">
      <ion-text color="warning">
        Required Field
      </ion-text>
    </p>


    
    <ion-item no-padding class="animated fadeInUp">
      <ion-label position="floating">
        <ion-icon name="lock-closed-outline"></ion-icon>
        Password
      </ion-label>
      <ion-input formControlName="password" type="password"></ion-input>
    </ion-item>

    <p ion-text class="text08" *ngIf="loginForm.get('password').touched && loginForm.get('password').hasError('required')">
      <ion-text color="warning">
        Required Field
      </ion-text>
    </p>


    <p text-right tappable (click)="forgotPass()" class="paz">
      <ion-text color="light">
        <strong>Forgot Pass?</strong>
      </ion-text>
    </p>
    
    <div padding>
      <ion-button size="large" type="submit" color="secondary" expand="block">
        <ion-icon name="log-in"></ion-icon>
        Login</ion-button>
    </div>

      <div *ngIf="isLoginFailed">
        <ion-text color="danger">
        Login failed!<br />{{ errorMessage }}
      </ion-text>
      </div>
      
  </form>
  <p text-center>
    <ion-text color="light">
      Or Signin with:
    </ion-text>
  </p>


  <ion-grid class="btn-group">
    <ion-row>
      <ion-col size="4">
        <ion-button shape="round" expand="full" color="secondary">
          <ion-icon slot="icon-only" name="logo-facebook"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="4">
        <ion-button shape="round" expand="full" color="secondary">
          <ion-icon slot="icon-only" name="logo-twitter"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="4">
        <ion-button shape="round" expand="full" color="secondary">
          <ion-icon slot="icon-only" name="logo-google"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Other links -->
  <div text-center margin-top>
    <span routerLink='/register' class="paz" tappable>
      <ion-text color="light">
        New here? <strong>Sign Up</strong>
      </ion-text>
    </span>
  </div>

</div>
</ion-content>