<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="login auth-page">
  <div class="auth-content" *ngIf="!isSuccessful">
    <!-- Logo -->
    <div padding-horizontal text-center>
      <div class="logo"></div>
      <h3 no-margin>
        <ion-text color="light" class="fw700">
          <ion-text color="secondary">Register</ion-text>
        </ion-text>
      </h3>
    </div>

    <form [formGroup]="registerform" (ngSubmit)="register()" class="list-form">
            <ion-item>
              <ion-label position="floating">
                <ion-icon name="person-circle-outline"></ion-icon>
                User Name
              </ion-label>
              <ion-input formControlName="username" type="text"></ion-input>
            </ion-item>

              <p ion-text  class="text08" *ngIf="isSubmitted && errorControl.username.errors?.required">
                <ion-text color="warning">    
                User Name is required.
                </ion-text>
              </p>
              <p ion-text  class="text08" *ngIf="isSubmitted && errorControl.username.errors?.minlength">
                
                <ion-text color="warning">  User Name should be min 4 chars long.</ion-text>
              </p>

            <ion-item>
              <ion-label position="floating">
                <ion-icon name="mail" item-start></ion-icon>
                Email
              </ion-label>
              <ion-input formControlName="email"></ion-input>
            </ion-item>
            <p ion-text  class="text08"  *ngIf="isSubmitted && errorControl.email.errors?.required">
              <ion-text color="warning">  
              Email is required.
              </ion-text>
            </p>
              <p ion-text  class="text08"  *ngIf="isSubmitted && errorControl.email.errors?.pattern">
                <ion-text color="warning">  
                Email should be min 4 chars long.
                </ion-text>
              </p>


            <ion-item>
              <ion-label position="floating">
                <ion-icon name="lock-closed-outline"></ion-icon>
                Password
              </ion-label>
              <ion-input formControlName="password" type="password"></ion-input>
            </ion-item>

            <p ion-text  class="text08" *ngIf="isSubmitted && errorControl.password.errors?.required">
              <ion-text color="warning">
                This field is required
              </ion-text>
            </p>
            <p ion-text  class="text08" *ngIf="isSubmitted && errorControl.password.errors?.pattern">
              <ion-text color="warning">  
              Password should be min 4 chars long.
              </ion-text>
            </p>

            
          <ion-button icon-left size="medium" expand="full" shape="round" color="dark" (click)="register()">
          <ion-icon name="log-in"></ion-icon>
            Sign Up
          </ion-button>

          <div class="alert alert-warning" *ngIf="isSubmitted && isSignUpFailed">
            Signup failed!<br />{{ errorMessage }}
          </div>
    </form>
    <p text-center>
      <ion-text color="light">
        Or Sign Up with:
      </ion-text>
    </p>

    <ion-grid class="btn-group">
      <ion-row>
        <ion-col size="4">
          <ion-button shape="round" expand="full" fill="outline" color="tertiary">
            <ion-icon slot="icon-only" name="logo-facebook"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="4">
          <ion-button shape="round" expand="full" fill="outline" color="tertiary">
            <ion-icon slot="icon-only" name="logo-twitter"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="4">
          <ion-button shape="round" expand="full" fill="outline" color="tertiary">
            <ion-icon slot="icon-only" name="logo-google"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
</div> 

<div class="alert alert-success" *ngIf="isSuccessful">
  Your registration is successful!
</div>


</ion-content>