<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" >
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>add</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="tutorialForm" (ngSubmit)="onFormSubmit()" novalidate>
      <ion-item lines="full">
        <ion-label position="floating">Title</ion-label>
        <ion-input formControlName="title" type="text"></ion-input>
      </ion-item>

      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.title.errors?.required">
        Title is required.
      </span>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.title.errors?.minlength">
        Title should be min 4 chars long.
      </span>

      <ion-item>
        <ion-label position="floating">Description</ion-label>
          <ion-textarea rows="6" cols="20" placeholder="Enter more information here..." formControlName="description"></ion-textarea>
      </ion-item>

      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.description.errors?.required">
        Description is required.
      </span>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.description.errors?.minlength">
        Description should be min 4 chars long.
      </span>

      <ion-row>
        <ion-col>
          <ion-button type="submit" color="secondary" shape="full" expand="block">Add Tutorial</ion-button>
        </ion-col>
      </ion-row>
    </form>
</ion-content>
