<ion-app>
    <ion-menu side="start" menuId="first" contentId="content1">
        <ion-header>
          <ion-toolbar color="dark" class="user-profile">
            <ion-item margin-bottom>
              <ion-avatar slot="start" class="user-avatar">
                <img src="assets/icon/favicon.png">
              </ion-avatar>

              <ion-label *ngIf="!isLoggedIn">
                <ion-text color="medium">
                    <h1>Navigation</h1>
                </ion-text>
              </ion-label>

              <ion-label *ngIf="isLoggedIn && user">
                <ion-text color="medium">
                  <h1><strong>{{user.username}}</strong></h1>
                </ion-text>
                <ion-text color="secondary">
                  <h3>
                    {{user.roles[0]}}
                  </h3>
                </ion-text>
                <ion-menu-toggle class="mto" auto-hide="false">
                  <a class="text08" tappable [routerLink]="['/profile/']">
                    <ion-text color="medium">
                      <ion-icon name="people-outline"></ion-icon>
                      <strong>profile</strong>
                    </ion-text>
                  </a> <ion-text color="secondary"> | </ion-text> 
                  <a class="text08" tappable (click)="logout()">
                    <ion-text color="medium">
                      <ion-icon name="log-out"></ion-icon>
                      <strong>logout</strong>
                    </ion-text>
                  </a>
                </ion-menu-toggle>
              </ion-label>
            </ion-item>
  
          </ion-toolbar>
        </ion-header>

        <ion-content>
          <ion-list>
            <ion-list-header color="dark">
              <ion-label>Menu</ion-label>
            </ion-list-header>

          <ion-menu-toggle auto-hide="true">
            <ion-item [routerLink]="['/home/']" color="primary" routerDirection="forward">
                <ion-icon name="home" slot="start"></ion-icon>
                   Tutorial
            </ion-item>
          </ion-menu-toggle>
          </ion-list>
          <ion-list *ngIf="!isLoggedIn">
            <ion-menu-toggle auto-hide="true">
              <ion-item [routerLink]="['/login/']" color="primary" routerDirection="forward">
                <ion-icon name="at" slot="start"></ion-icon>
                     Login
              </ion-item>
            </ion-menu-toggle>
            </ion-list>
            <ion-list *ngIf="!isLoggedIn">
              <ion-menu-toggle auto-hide="true">
                <ion-item [routerLink]="['/register']" color="primary" routerDirection="forward">
                  <ion-icon name="aperture" slot="start"></ion-icon>
                       Register
                </ion-item>
              </ion-menu-toggle>
              </ion-list>
            
              <ion-list *ngIf="isLoggedIn">
                <ion-menu-toggle auto-hide="true">
                  <ion-item [routerLink]="['/charts']" color="primary" routerDirection="forward">
                    <ion-icon name="bar-chart-outline" slot="start"></ion-icon>
                         Chart
                  </ion-item>
                </ion-menu-toggle>
                </ion-list>

        </ion-content>
      </ion-menu>
  <ion-router-outlet id="content1"></ion-router-outlet>
</ion-app>

