<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="profile">
  <ion-card no-margin>
    <ion-card-content class="bg-profile">
      <img src="assets/icon/favicon.png">
      <h1 class="fw500">{{currentUser.username}}</h1>
      <h2 color="light" margin-bottom>{{currentUser.email}}</h2>
    </ion-card-content>
  
    <ion-grid fixed no-padding>
      <ion-row>
        <ion-col size="12" padding>

          <ion-list margin-bottom>
            <ion-list-header color="light">
              <ion-label class="fw700">User Detail</ion-label>
            </ion-list-header>

            <ion-item>
              <ion-label color="dark" position="stacked">User Name:</ion-label>
              <ion-input inputmode="text" placeholder="Ex..: Joe Doe" value="{{currentUser.username}}"></ion-input>
            </ion-item>
    
            <ion-item>
              <ion-label color="dark" position="stacked">Email:</ion-label>
              <ion-input inputmode="email" placeholder="Ex.: joe@doe.com" value="{{currentUser.email}}"></ion-input>
            </ion-item>
    
            <ion-item>
              <ion-label color="dark" position="stacked">Role</ion-label>
              <ion-input *ngFor="let role of currentUser.roles" inputmode="text" placeholder="{{role}}"></ion-input>
            </ion-item>
    
    
          </ion-list>

        </ion-col>
      </ion-row>
    </ion-grid>
  
  </ion-card>
  
</ion-content>