<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>
      Ionic App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar placeholder="Search..." [(ngModel)]="filterTerm" animated="true"></ion-searchbar>

  <ion-card *ngFor="let tutorial of tutorials | filter:filterTerm">
    <ion-card-header>
      <ion-card-title>{{tutorial.title}}</ion-card-title>

      <ion-card-subtitle *ngIf="isLoggedIn">
        <ion-button size="small" fill="outline" [routerLink]="['/edit/', tutorial.id]">
          <ion-icon name="create"></ion-icon>
        </ion-button>
        <ion-button fill="outline" size="small" (click)="deletetutorial(tutorial, i)">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </ion-card-subtitle>

    </ion-card-header>

    <ion-card-content>
      {{tutorial.description}}
    </ion-card-content>
  </ion-card>

  <!-- fab placed to the bottom start -->
  <ion-fab *ngIf="isLoggedIn" vertical="bottom" horizontal="end" slot="fixed" routerLink="/add">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
